body{
    background-color: #030420fa !important;
}

.cursor-pointer{
    cursor: pointer;
}
.head-box, .tail-box{
   border: 2px solid #ccc;
}

.head-box:hover, .tail-box:hover{
    padding: 50px !important;
}